<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Burger Hub</title>
<!-- Linking working links and files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
    
</head>
	<body>
		{{{ body }}}

	{{!-- Add in jQuery --}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/assets/js/burgers.js"></script>	
	</body>
</html>